body{
  background: #333;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  text-align: center;
}

.title{
  font-family: Lucida;
  align-content: center;
  align-items: center;
}

h1{
  font-size: 36px;
  margin: 20px;
}

h3{
  color:lightskyblue;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Inside the components */

.team{
  background: grey;
  border-radius: 4px;
  width: 500px;
  padding-bottom: 20px;
  margin: 20px;
  float: left;
}

.fullList{
  margin: 10px;
  font-size: 20px;
}

.listItem{
  margin: 5px;
  text:
}

.inputBar{
  width:200px;
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
}
.addButton{
  background-color: lightskyblue;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 4px;
  border:none;
  height: 30px;
  width: 200px;
  align-items: center;
  
}

.addButton:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}

.removeButton{
  background-color: lightskyblue;
  font-size: 14px;
  color: whitesmoke;
  border-radius: 4px;
  border:none;
  height: 20px;
  margin-left: 20px;
}